button {
  background: #999999;
  &:hover {
    background-color: darken(#999999, 12);
  }
  &.active {
    background: #efefef;
    &:hover {
      background-color: #d3d3d3;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

input {
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;
  outline: none;
  &:focus {
    outline: none;
  }

  /* Browsers have different default form fonts */
  font-size:13px;
  font-family:Arial;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;

  button {
    line-height: 2em;
    padding-left: 0.5em;
    padding-right: 4px;
    & + button {
      margin-left: 1px;
    }
    > i {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 24px;
      width: 24px;
      height: 24px;
      padding: 0 0 2px;
      margin: 0;
      vertical-align: middle;
      &.sort-alpha.asc { background-image: url("assets/sort-alpha-asc.svg"); }
      &.sort-alpha.desc { background-image: url("assets/sort-alpha-desc.svg"); }
      &.sort-numeric.asc { background-image: url("assets/sort-numeric-asc.svg"); }
      &.sort-numeric.desc { background-image: url("assets/sort-numeric-desc.svg"); }
    }
  }

  label {
    position: relative;
    svg {
      position: absolute;
      top: calc(50% - 10px);
      left: 4px;
    }
    input {
      display: inline-block;
      background-color: #efefef;
      font-size: 1em;
      line-height: 32px;
      text-indent: 30px;
      &:focus {
        box-shadow: 0 0 2px 2px #333;
      }
    }
  }

}
