.app-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 100vh;
  margin-bottom: 2em;

  > .panel {
    flex-grow: 1;
    flex-basis: 0;
    & + .panel {
      padding-left: 1em;
    }
  }

  graph {
    display: block;
    height: 100%;
  }
}

